body {
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.85);
  background-color: #17171b;
}

main {
  display: grid;
  grid-template-columns: 0.2fr 1.5fr 2fr;
  /* margin: 8vh 10vw; */
  margin: 4em 10em;
}
section {
  background-color: #31313a;
}

.bold {
  font-weight: bold;
}

/* ================================================= */

section.menu {
  margin-top: 10px;
  background-color: transparent;
  z-index: 10;
}

.menu nav a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 15px 10px;
  border-bottom: 0.2px solid rgba(255, 255, 255, 0.85);
  background-color: #31313a;
}

.menu nav a:hover,
.menu nav a.active {
  cursor: pointer;
  color: #ff9800;
  transition: all 0.3s ease 0s;
}

.menu nav a:first-of-type {
  border-radius: 7px 7px 0 0;
}

.menu nav a:nth-child(2) {
  border-top: 0.2px solid rgba(255, 255, 255, 0.85);
}

.menu nav a:last-of-type {
  border-radius: 0 0 7px 7px;
}

.menu nav a p {
  margin-top: 8px;
}

/* ================================================= */

section.profile {
  position: relative;
  height: 85vh;
  border-radius: 5px;
  box-shadow: -15px -15px rgba(99, 99, 99, 0.1);
}

.profile .background {
  background-image: url("https://i.imgur.com/FrmhDHq.jpg");
  width: 100%;
  height: 50%;
  background-size: cover;
  background-position: 50% 50%;
}

.profile .avatar {
  position: absolute;
  width: 180px;
  height: 180px;
  left: 0;
  right: 0;
  margin: -12vh auto auto auto;
  border: 3px solid #31313a;
  border-radius: 100%;
  background-image: url("https://i.imgur.com/hccYIVU.jpg");
  background-size: cover;
}

.profile .info {
  margin-top: 15vh;
  text-align: center;
}

.profile .info .name {
  font-size: x-large;
  font-weight: bold;
  letter-spacing: 1px;
}

.profile .info .job {
  font-size: large;
  color: #ff9800;
  margin: 15px auto;
}

.profile .info div a {
  font-size: large;
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
}

.profile .info div a:hover {
  color: #ff9800;
  transition: all 0.3s ease 0s;
}

.profile .bottom-button-group {
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  bottom: 0;
}

.profile .bottom-button-group div {
  display: inline;
  text-align: center;
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;
  padding: 20px;
  border-top: 0.2px solid rgba(255, 255, 255, 0.85);
}

.profile .bottom-button-group div:first-of-type {
  border-right: 0.2px solid rgba(255, 255, 255, 0.85);
}

.profile .bottom-button-group div > p,
i {
  display: inline;
  margin: auto 5px;
}

.profile .bottom-button-group div:hover {
  cursor: pointer;
  color: rgba(255, 152, 0);
  transition: all 0.3s ease 0s;
}

/* ================================================= */

section.card {
  display: none;
  height: 82vh;
  margin-top: 0.8em;
}

.card {
  overflow: scroll;
  font-size: 1.1em;
  border-radius: 10px;
  box-shadow: inset 1em 0 1em -1em black;
}

/* .card:hover {
  overflow: scroll;
} */

.card.active {
  display: inline !important;
}

.card .sub-section {
  margin-top: 30px;
}

.card .sub-section:first-of-type {
  margin-top: 0;
}

.card .sub-section .heading {
  position: relative;
  padding: 30px;
  margin-bottom: 30px;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0.08em;
  border-bottom: 0.2px solid rgba(255, 255, 255, 0.85);
}

.card .sub-section .heading .heading-circle {
  position: absolute;
  margin: -4px -15px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-image: linear-gradient(
    to left,
    rgba(255, 0, 0, 0),
    rgba(255, 152, 0, 0.4)
  );
}

.card .sub-section .content {
  padding: 0 30px;
  line-height: 1.8em;
}

.card .sub-section .content p {
  margin-bottom: 0.5em;
}

/* ================================================= */

.card .personal-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card .personal-detail .cell {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
}

.card .personal-detail .cell:last-of-type {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 0.4fr 1.6fr;
}

.card .personal-detail .cell p:nth-child(2) {
  font-style: italic;
}

/* ================================================= */
.experience {
  margin-bottom: 30px;
}

.experience .description {
  font-size: 0.9em;
}

.time {
  width: fit-content;
  padding: 0 5px;
  font-size: 0.8em;
  color: rgba(255, 152, 0);
  border: 1px solid rgba(255, 152, 0);
}

.skill {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1em;
}

.skill .column {
  margin-bottom: 1em;
}

.skill i {
  font-size: 1.5em;
  color: rgba(255, 152, 0);
}

.skill p {
  display: inline;
  vertical-align: text-bottom;
  font-weight: bold;
}

.skill ul {
  margin-left: 1em;
  list-style: inside;
}

/* ================================================= */
.works {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.project {
  position: relative;
  box-sizing: border-box;
  margin: 1em;
  padding: 0.05em;
  border: 0.2px solid rgba(255, 255, 255, 0.85);
}

.project .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(255, 0, 0, 0),
    rgba(255, 152, 0, 0.4)
  );
  opacity: 0;
}

.project:hover {
  cursor: pointer;
  color: rgba(255, 152, 0);
  border: 0.2px solid rgba(255, 152, 0);
  transition: all 0.3s ease 0s;
  transform: scale(1.1);
}

.project:hover > .cover {
  opacity: 0.1;
  transition: all 0.3s ease 0s;
}

.project img {
  display: inline-block;
  width: 99.5%;
  height: 75%;
  object-fit: cover;
}

.project span {
  vertical-align: super;
}

/* ================================================= */

.contact a {
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
  font-style: italic;
}

.contact a:hover {
  color: rgba(255, 152, 0);
  transition: all 0.3s ease 0s;
}

/* ================================================= */

/* width  */
::-webkit-scrollbar {
  width: 10px;
  position: fixed;
}

::-webkit-scrollbar-corner {
  opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
