.experience
  .section-inner

    &:first-of-type
      padding-right: 1rem

    h2
      padding-top: 1rem
      text-transform: uppercase

      i
        font-size: 1.5rem
        padding-left: 1.5rem
        padding-right: 0.2rem
        color: $text-active-color

    article
      font-size: 0.8rem
      padding-top: 1rem

      > *
        padding-left: 1.5rem

      .time
        position: relative
        padding-top: 0.5rem !important

        &:before
          +before-after-style(0.5rem, 0.5rem)
          top: 1rem
          left: -0.25rem
          border-radius: 100%
          background: $text-color

      .time.current
        color: $text-active-color
        
        &:before
          background: $text-active-color

      .position
        color: rgba(255, 255, 255, 1)
        font-size: 1rem
        padding-top: 0.5rem !important

      .organization
        padding-top: 0 !important
        line-height: 1em
        opacity: 0.6

      .description
        font-size: 0.9rem

      .skill
        font-size: 1rem 

  .section-inner.coding
    grid-column: 1 / span 2
      
    h2 
      padding-bottom: 1rem

    article
      display: grid
      grid-template-columns: repeat(3, 1fr)

.testimonial
  section 
    padding-top: 1rem

  .quote 
    font-style: italic
    text-align: center
    position: relative
    padding: 0 1rem

    &:before  
      content: "“"
      position: absolute
      top: 30%
      left: -0.2rem
      font-size: 3rem

    &:after  
      content: "”"
      position: absolute
      right: 0.5rem
      font-size: 3rem
      bottom: -30%

  .referrer
    text-align: center
    padding-top: rem

    img
      width: 4rem
      border-radius: 100%

    p
      padding-top: 0 !important

    p:last-of-type,
    a
      font-size: 0.8rem
      opacity: 0.6

    a 
      +anchor(0.8rem)